// Fonts


// BASE
$site-width: 1110px;
$base-transition: 0.3s;
$breakpoints: (
	'small': 0,
	'tablet': 800px,
	'landscape': 980px,
	'large': 1120px
);

// COLORS
$color-black: #000;
$color-white: #fff;
$color-gray-light: #ececec;
$color-gray: #bbb;
$color-gray2: #333;
$color-gray-dark: #242424;
$color-yellow: #ffc709;
$color-general: #DB4696;

@function rem-calc($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

@function get-breakpoints($key: 'md') {
  @return map-get($breakpoints, $key);
}
